<div class="header">
  <hgroup>
    <h1 class="brand-title"><a href="/">{{ site.name }}</a></h1>
    <h2 class="brand-tagline">{{ site.tagline }}</h2>
  </hgroup>

  <nav class="nav">
    <ul class="nav-list">
      {% assign names = "news,ideas,experiments,projects" | split: "," %}
      {% for name in names %}
        {% if site.categories[name].size > 0 %}
          <li class="nav-item">
            <a class="pure-button" href="/{{ name }}">{{ name | capitalize }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="nav-item">
        <a class="pure-button" href="/about">About</a>
      </li>
    </ul>
  </nav>
</div>
