<section class="post">
  <header class="post-header">
	<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<p class="post-meta">
      {% if post.date %}
	    On {{ post.date | date_to_string }}
      {% else %}
	    On {{ site.time | date_to_string }}
      {% endif %}
      {% if post.categories.size > 0 %}
        about
	    {% for category in post.categories %}
		  <a class="post-category post-category-{{ category }}" href="/{{ category }}">{{ category }}</a>
	    {% endfor %}
      {% endif %}
	</p>
  </header>

  <div class="post-description">
    {% if excerpt %}
      {% capture continueLink %}
      <a href="{{ post.url }}">Continue reading...</a>

      {% endcapture %}
      {{ excerpt | replace: '</p>', continueLink }}
    {% else %}
      {{ content }}
      {% if include.comments != "false" %}
        {% include disqus.html %}
      {% endif %}
    {% endif %}
  </div>
</section>
