<!doctype html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <title>{{ page.title }} - {{ site.author }}'s {{ page.group | capitalize }}</title>
    <link href="/atom.xml" type="application/atom+xml"
          rel="alternate" title="Latest Posts in All Categories">

    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.4.2/pure.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/blog/main-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/blog/main-grid.css">
    <!--<![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/blog/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/blog/blog.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pygments.css">

    {% if page.header %}
      {{ page.header }}
    {% endif %}
  </head>
  <body>
    {% if site.ga.id %}
      {% include ga.html %}
    {% endif %}

    <div id="layout" class="pure-g">
      {% if page.sidebar %}
        <div class="sidebar pure-u-1 pure-u-med-1-4">
          {% include {{page.sidebar}} %}
        </div>
      {% endif %}

      <div class="content pure-u-1 pure-u-med-3-4">
        <div>
          {{ content }}
        </div>

        {% if page.footer %}
          <div class="footer">
            {% include {{page.footer}} %}
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>